body {
    padding: 0;
    margin: 0;
    height: 90vh;
    background: #21006f;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 3rem;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 400px;
    padding: 20px;
    background-color: #0a002e;
    border-radius: 15px;
    transform: translate(-50%, -50%);

}

table {
    padding: 5% 10px;
}

#display {
    margin: 15px 10px;
    padding: 10px 4px;
    font-size: 28px;
    width: 250px;
    color: #797979;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 2px #11022e;
}

input {
    outline: none;
}

input[type="button"] {
    padding: 0;
    width: 65px;
    height: 65px;
    font-size: 28px;
    border-radius: 50%;
    background-color: #0a002e;
    color: #c4c4c4;
    opacity: 0.8;
    border: none;
    box-shadow: 5px 5px 15px 2px #140335;
}

input[type="button"]:hover {
    color: #00d6fc;
    background: #020024;
    box-shadow: 5px 5px 15px 2px #220e4a;
}

input[type="button"]:focus {
    outline: 1px solid #21006f;

}